// Variables referencing custom properties.

@use "defaults";
@use "pkg:@graupl/graupl/src/defaults" as root-defaults;
@use "pkg:@graupl/graupl/src/theme/color/variables" as theme;
@use "pkg:@graupl/graupl/src/variables" as root-variables;
@use "sass:map";

$icon-display: var(
  --#{root-defaults.$prefix}-icon-display,
  #{defaults.$icon-display}
);
$icon-size: var(--#{root-defaults.$prefix}-icon-size, #{defaults.$icon-size});
$icon-width: var(--#{root-defaults.$prefix}-icon-width, #{$icon-size});
$icon-height: var(--#{root-defaults.$prefix}-icon-height, #{$icon-size});
$icon-color: var(
  --#{root-defaults.$prefix}-icon-color,
  #{theme.$root-font-color}
);
$icon: var(--#{root-defaults.$prefix}-icon, none);
$icon-spacer: var(
  --#{root-defaults.$prefix}-icon-spacer,
  #{map.get(root-variables.$spacers, 2)}
);
